* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.secao {
  width: 400px;
  /* background-color: orange; */
  margin: 16px auto;
  padding: 16px 16px 16px 16px;
  border-radius: 10px;
  /* Box Shadow = SOMBRA DA CAIXA */
  /* box-shadow: x y desfoque spread color */
  background: linear-gradient(65deg, red, orange);
}

.figura {
  height: 150;
  box-shadow: 5px 5px 5px 0px gray;
}

/* Combinador de descendente.  Junta seletores  a classe secao  junto com o paragrafo dentro dela. */
.secao p {
  text-shadow: 1px 1px 1px yellow;
}