
/* Box Model
      > padding (espaçamento interno)
      > margin (espaçamento externo)
      > border (borda ao redor do elemento)
*/


/* SELETOR UNIVERSAL.  Tudo aplicado vai ser aplicado em todos os campos que herdam. Respeitando a hierarquia, não sobrepoem a class ou id */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box1 {
  background-color: chocolate;
  padding: 20px;
  margin: 10px;
}
.box2 {
  background-color: pink;
  padding: 10px 15px 20px 10px;
  /* margin: 30px 10 px 10px 10px; */
  margin: 20px 10px; /* VERTICAL HORIZONTAL */
}
.box3 {
  background-color: darkorchid;
  border: 5px solid red; /*dotted  deshed solid groove double*/
  border-radius: 10px;
}
.box4 {
  background-color: seagreen;
  margin: 10px;
  padding: 30px;
  border: 5px solid yellow;
  width: 200px;
  height: 400px;
  /* box-sizing: border-box; Torna os elementos padrões com os valores indicados. Sem intereferencia externa  */
}
