* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #0b0f19;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 12px;
}

.navbar img {
  height: 100%;
}

.nav-links {
  /* background-color: brown; */
  display: flex;
  gap: 12px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #d9b800;
}